.item-menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.item-menu {
    background-color: var(--bg-black);
    border: 4px solid var(--ui-white);
    padding: 25px;
    width: 450px;
    max-width: 85vw;
    box-shadow:
        0 0 0 2px var(--bg-black),
        0 0 0 6px var(--ui-white);
    animation: box-pop 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes box-pop {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.item-row {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    cursor: pointer;
}

.item-heart-icon {
    opacity: 0;
    font-size: 14px;
    margin-top: 2px;
    transition: opacity 0.1s;
}

.item-row:hover .item-heart-icon {
    opacity: 1;
}

.item-row:hover .item-text {
    color: var(--selection-yellow);
}

.item-text {
    font-size: 14px;
    line-height: 1.5;
    color: var(--ui-white);
}

.close-item-btn {
    background: none;
    border: none;
    color: var(--ui-white);
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.close-item-btn:hover {
    color: var(--selection-yellow);
}